:host ::ng-deep {
    .p-progressbar {
        height: .5rem;
        background-color: #D8DADC;

        .p-progressbar-value {
            background-color: #607D8B;
        }
    }
}


.fa-pencil-alt {
    color: #007bff; /* Blue color for the edit icon */
  }

  .fa-trash-alt {
    color: #dc3545; /* Red color for the delete icon */
  }

  .fa-ban {
    color: #ffc107; /* Yellow color for the cancel icon */
  }

  .fa-check {
    color: #28a745; /* Green color for the confirm icon */
  }

  /* Optional: Styling for disabled state */
  i[disabled] {
    color: #6c757d; /* Gray color for disabled icons */
    pointer-events: none; /* Disable interaction */
  }


  .scrollable-table {
    max-height: 400px; /* Đặt chiều cao tối đa cho bảng, bạn có thể điều chỉnh giá trị này */
    overflow-y: auto;  /* Kích hoạt thanh cuộn dọc nếu chiều cao vượt quá giới hạn */
  }

