<div class="container-xxl bg-white p-0">
    <!-- Header Start -->
    <div class="container-fluid bg-dark px-0 fixed-top">
      <div class="row gx-0">
        <div class="col-lg-3 bg-dark d-none d-lg-block">
          <a href="" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
            <img src="/assets/logochuan.jpg" alt="Logo" class="brand-image img-circle elevation-3" width="80px" />
            <h1 class="m-0 text-uppercase" style="color: white;">RENT24H</h1>
          </a>
        </div>
        <div class="col-lg-9">
          <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
            <a href="" class="navbar-brand d-block d-lg-none">
              <h1 class="m-0 text-primary text-uppercase">Rent24H</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto py-0">
                  <a routerLink="/user-home" class="nav-item nav-link active">Trang chủ</a>
                  <a routerLink="/user-home/post-vew-user" class="nav-item nav-link">Nhà cho thuê</a>
                  <a routerLink="/user-home/user-contact" class="nav-item nav-link">Liên hệ</a>
                  <a routerLink="/intro" class="nav-item nav-link">Giới thiệu</a>
                </div>
                <div class="d-flex align-items-center" style="margin-right: 10px;">
                    <a>
                        <span *ngIf="showUserId">{{ 'Xin chào' + shownLoginName }}</span>
                    </a>
                </div>
                <div class="dropdown">
                  <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                      Quản lý tài khoản
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button  ngbDropdownItem *ngIf="this.showRoleId == 3" routerLink="/app/post" >Đăng tin</button>
                      <button ngbDropdownItem *ngIf="(this.showRoleId == 2) || (this.showRoleId == 3)"  routerLink="/app">Quản lý danh mục</button>
                      <!-- Quản lý danh mục sẽ dành cho người thuê trọ, trong danh mục này sẽ có danh mục bài đăng yêu thích, danh mục lịch hẹn-->
                      <button ngbDropdownItem *ngIf="this.showRoleId ==4" routerLink="/user-home/category-user">Quản lý danh mục</button>
                      <button ngbDropdownItem *ngIf="!this.showUserId && this.showRoleId != 3" routerLink="/account/register">Đăng ký</button>
                      <button ngbDropdownItem *ngIf="!this.showUserId && this.showRoleId != 3" routerLink="/account/login" >Đăng nhập</button>
                      <button ngbDropdownItem *ngIf="this.showUserId" (click)="logout()">Đăng xuất</button>
                    </div>
                  </div>
                </div>
              </div>
          </nav>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel" style="margin-top: 70px;">
          <router-outlet></router-outlet>
   </div>
<!-- Team End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s" style="border-top: 2px solid black;">
      <div class="container pt-5">
        <div class="row g-5">
          <div class="col-md-6 col-lg-4">
            <div class="bg-primary rounded p-4">
              <a href="index.html">
                <h1 class="text-white text-uppercase mb-3">RENT24H</h1>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-8">
            <div class="row">
              <div class="col-6 col-md-4">
                <h5 class="text-light">Quick Links</h5>
                <ul class="list-unstyled">
                  <li><a routerLink="/home" class="text-light">Trang chủ</a></li>
                  <li><a routerLink="/about" class="text-light">Nhà cho thuê</a></li>
                  <li><a routerLink="/contact" class="text-light">Liên hệ</a></li>
                  <li><a routerLink="/intro" class="text-light">Giới thiệu</a></li>
                </ul>
              </div>
              <div class="col-6 col-md-4">
                <h5 class="text-light">Liên hệ</h5>
                <ul class="list-unstyled">
                  <li><a routerLink="/contact" class="text-light">Liên hệ</a></li>
                  <li><a routerLink="/privacy" class="text-light">Bảo mật</a></li>
                  <li><a routerLink="/policy" class="text-light">Chính sách</a></li>
                </ul>
              </div>
              <div class="col-12 col-md-4">
                <h5 class="text-light">Theo dõi</h5>
                <div class="d-flex">
                  <a href="#" class="text-light me-3"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
                  <a href="#" class="text-light me-3"><i class="fab fa-instagram"></i></a>
                  <a href="#" class="text-light"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container pt-3">
        <div class="copyright">
          <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
              Đồ án tốt nghiệp
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
  </div>
