<div
    bsModal
    #createforgotPassword="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createforgotPassword"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>

    <div class="modal-dialog" *ngIf="createforgotPassword.isShown">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">
                    <span>{{ l('Quên mật khẩu') }}</span>
                </h6>
                <button type="button" (click)="close()" class="close text-right" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="fieldset-row">
                    <fieldset class="scheduler-border">
                        <form #applyBpForm="ngForm" (ngSubmit)="confirmToSend()" autocomplete="off">
                            <div>
                                <div class="ui-g-12 ui-md-6">
                                  <label for="email">Nhập email của bạn:</label>
                                  <input
                                      type="email"
                                      id="email"
                                      [(ngModel)]="resetPasswordEmail"
                                      (ngModelChange)="checkValidEmail($event)"
                                      name="email"
                                      class="form-control"
                                      placeholder="Email"
                                      required
                                      email
                                  >
                                  <div *ngIf="!isValidEmail" class="text-danger">
                                      Email không đúng định dạng.
                                  </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="tmss-btn btn-outline-primary">
                                        <i class="fa tmss-fa fa-save mr-1"></i>
                                        <span>{{ l('Gửi') }}</span>
                                    </button>

                                    <button (click)="close()" type="button" class="tmss-btn btn-outline-danger">
                                        <i class="fa tmss-fa fa-times mr-1"></i>
                                        {{ l('Hủy') }}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
